.side-bar
  .side-bar__leftHeder
    .side-bar__leftHeder__box
      .side-bar__leftHeder__box__name
        ほりうち
      .side-bar__leftHeder__box__btn
        .side-bar__leftHeder__box__btn__edit
          = link_to "#" do
            = icon( 'fas', 'edit')
        .side-bar__leftHeder__box__btn__cog
          = link_to "#" do
            = icon('fas', 'cog')
  .side-bar__group
    .side-bar__group__list
      tset
    .side-bar__group__message
      こんばんは
